* {
  margin: 0;
  border: 0;
  font-family: 'VT323', monospace;
}

body {
  background-color: #222;
  text-align: center;
}

canvas {
  border: 1px solid #fff;
  background-color: #000;
  margin: 50px auto;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}